<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAds6KakydjRDucS7MaQeQjMtDz3wGlBTw</string>
	<key>GCM_SENDER_ID</key>
	<string>701387500306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chatapp.chatApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app-140f2</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app-140f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701387500306:ios:49033a93b4dc7162ade1cb</string>
</dict>
</plist>